body {
    background-image: url("../images/full-bloom.png");
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.header {
    background-color: white;
    border-bottom: 2px solid #cccccc; 
}
.textwrap {
    float: left;
    margin: 20px 20px 0px 20px;
}

.imageBox {
    padding: 0px;
}
#contentArea {
    width: 813px;
    background-color: white;
    color: #777777;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 120px;
    border: 1px solid lightgray;
    line-height: 2;
    float: left;
}

    .portBox {
        margin:20px;
    }
#contentHeader {
    position: relative;
    width: 960px;
    margin: auto;
    border: 0px;
    background-color: white;  
}

.contentBox {
    position: relative;
    width: 960px;
    margin: auto;
    border: 0px;
}

.contentHeading {
    margin:28px 20px 0px 20px;
    padding-bottom:19.40px;
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
}

#navigationLinks {
    position: absolute;
    right:0px;
    top:30px;
    height:100%;
    margin: 0px auto;
}

#nameSpace {
    width: 242.80px;
    float: left;
    background-color: #4aaaa5;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 90px;
    text-align: center;
    text-decoration: none;
    padding: 0px;
    color:#666666;
    line-height:2;
}
li a:link {
    color: #666666;
}
li a:visited {
    color:#666666;
}
li a:hover {
    background-color: #cccccc;
    color: whitesmoke;
}

li {
    float: left;
}

h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size:20px;
    font-weight: normal;
}

h3 {
    font-size: 28px;
    font-weight: bolder;
}

#yourNameHere {
    color:white;
}
.nav {
    border-right: 1px solid lightgray;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;

}

#license {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}

.contactMessage {
    height: 300px;
    resize:none;
}

form {
    margin: 20px;
}

button {
    color:white;
    background-color: #4aaaa5;
    border:none;
    padding: 10px 20px;
}

.portHolder {
    float:left;
    position:relative;
    padding: 0px;
    height: auto;
    margin: 0px 20px
}

.portItem {
    width: 250px;
    height: 250px;
    padding:0px;
    margin: 0px;
    overflow: hidden;
}

.fl {
    float:left;
}

.fr {
    float:right;
}
.portLabel {
    position:absolute;
    text-align:center;
    display:block;
    background-color: #4aaaa5;
    color: white;
    bottom:10px;
    width: 100%;
    line-height: 3;
    margin:0px 0px 30px 0px;
}

input {

    width: 100%;
    line-height: 2.3;
    border: 1px solid #cccccc;
    padding-left:7px;
}

.portPair {
    width:100%;
}

textarea {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #cccccc;
}
form {
    position:relative;
}

p {
    margin: 16px 20px;
}

@media only screen and (max-width: 980px) {
    #contentArea {
        width:90%;
        float:none;
        padding:0px;
    }

    .header {
        width:100%;
    }

    #contentHeader {
        width:80%;
    }


    .contentBox {
        width:100%;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
    #nameSpace {
        width:100%;
    }
    #contentHeader {
        width:100%;
        margin: 0px;
        position: relative;
    }



    #navigationLinks {
        position:relative;
        top:0px;
        text-align:center;
    }

    ul {
        display:inline-block;
        height: 28px;
    }
    header {
        text-align:center;
    }

    .textwrap {
        width: 100%;
        margin: 0px;
    }

    .portHolder {
        width:100%;
        height: auto;
        margin: 0px;
        max-width: none;
    }

    .portItem {
        width: 100%;
        height: auto;
    }

    .imageBox {
        padding:20px;
    }



}