/* dark blue:    #05386B */

/* greeny-blue:  #379683 */

/* bright green: #5CDB95 */

/* pale green:   #8EE4AF */

/* taupe:        #EDF5E1 */

/* font-family: 'Gentium Basic', serif;
font-family: 'Eczar', serif; */

body {
  background-color: #5cdb95;
}

.header {
  grid-area: 1 / 1 / span 1 / end;
  /* z-index: 1; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  z-index: 10;
  background-image: linear-gradient(to top left, #05386b, #379683);
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.171);
  padding: 1em;
  margin: 0.25em 0.25em 0px 0.25em;
}

.headshot {
  text-align: center;
  justify-content: center;
}

.headshot img {
  flex-grow: 0;
  flex-shrink: 1;
  vertical-align: bottom;
  max-width: 200px;
  min-height: 217.5px;
  width: 100%;
}

.titlecard {
  flex-grow: 1;
  flex-shrink: 0;
  grid-area: 1 / 6 / 2 / span 7;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #edf5e1;
}

.titlecard h2 {
  font-size: 8vw;
  font-family: "Eczar", serif;
}

.titlecard h3 {
  font-size: 5vw;
  font-family: "Gentium Basic", serif;
}

.content-container {
  padding: 0px 0.5em;
  display: flex;
  grid-area: 2 / 1 / end / end;
  flex-flow: row wrap;
  z-index: 1;
  overflow-x: scroll;
}

.slider-portfolio {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  height: auto;
}

.static-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

.phil-article-title {
  margin: auto;
  font-size: 3rem;
  color: #edf5e1;
}

.phil-article-hover-text {
  display: none;
  margin: auto;
  font-size: 2rem;
  color: #05386b;
}

.phil-article {
  width: 33%;
  display: block;
  cursor: pointer;
  text-align: center;
}

.phil-article:hover .phil-article-hover-text {
  display: inline;
}

.phil-article:hover .phil-article-title {
  display: none;
}

.grid-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 8fr 2fr;
  z-index: 0;
}

.content-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media only screen and (max-width: 600px) {
  .article-paragraph {
    font-size: 1.5em;
  }
  .header {
    flex-flow: column nowrap;
  }
  .headshot img {
    max-width: 200px;
    margin-bottom: 1em;
  }
  .contact-image {
    flex: 1 1 100px;
    height: 20vw;
    width: 20vw;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .content-container {
    overflow-x: visible;
  }
  .phil-article:hover .phil-article-hover-text {
    display: none;
  }
  .phil-article:hover .phil-article-title {
    display: inline;
  }
  .titlecard h2 {
    font-size: 6em;
  }
  .titlecard h3 {
    font-size: 3em;
  }
}

.option-band {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  bottom: 1.5em;
  z-index: 100;
}

.title-band {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5em;
  z-index: 200;
}

.space {
  display: block;
  height: 1em;
}

.portfolio-image {
  display: block;
  height: 283px;
  width: 283px;
}

.contact-image {
  flex: 1 1 100px;
  height: 100px;
  width: 100px;
}

.section-label {
  text-align: center;
  width: 100%;
  background-color: #379683;
  padding: 1em 0px;
  margin: 1em 0px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.171);
  color: #edf5e1;
}

.section-label h2 {
  font-size: 4rem;
  font-family: "Eczar", serif;
}

.text-font {
  font-family: "Gentium Basic", serif;
}

.title-font {
  font-family: "Eczar", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.article-paragraph {
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  /* stuff that only happens when mobile */
}

.btn {
  padding: 0.5em 1em;
  display: block;
  background-color: #05386b;
  color: #edf5e1;
  font-size: 1.2em;
}

.port-holder {
  position: relative;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.title-band {
  padding: 1em 1em;
  display: block;
  background-color: #05386b;
  color: #edf5e1;
  font-size: 1.7rem;
}

.port-holder:hover .title-band {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #379683;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #05386b;
}

::-webkit-scrollbar-track {
  background-color: #5cdb95;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
