/* dark blue:    #05386B */

/* greeny-blue:  #379683 */

/* bright green: #5CDB95 */

/* pale green:   #8EE4AF */

/* taupe:        #EDF5E1 */

/* font-family: 'Gentium Basic', serif;
font-family: 'Eczar', serif; */

.blank-box {
    display: block;
    height: 1em;
}

body {
    background-color: #5cdb95;
}

.header {
    background-image: linear-gradient(to top left, #05386b, #379683);
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.171);
    padding: 1em;
}

.titlecard {
    width: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: #edf5e1;
}

.titlecard h2 {
    font-size: 8vw;
    font-family: "Eczar", serif;
}

.titlecard h3 {
    font-size: 5vw;
    font-family: "Gentium Basic", serif;
}

.portfolio-image {
    display: block;
    height: 283px;
    width: 283px;
}

.contact-image {
    flex: 1 1 100px;
    height: 100px;
    width: 100px;
}

.section-label {
    text-align: center;
    width: 100%;
    background-color: #379683;
    padding: 1em 0px;
    margin: 1em 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.171);
    color: #edf5e1;
}

.section-label h2 {
    font-size: 5vw;
    font-family: "Eczar", serif;
}

.focus-text {
    display: none;
    font-size: 1rem;
    font-family: "Gentium Basic", serif;
}

.article-name-tile {
    width: 30%;
    padding: 0.5em;
}

.mb {
    margin-bottom: 1em;
}

.text-font {
    font-family: "Gentium Basic", serif;
}

.title-font {
    font-family: "Eczar", serif;
}

.button:hover {
    background-color: #05386b;
    cursor: pointer;
}

.button:active {
    background-color: #379683;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    /* stuff that only happens when mobile */
    .contact-image {
        flex: 1 1 100px;
        height: 20vw;
        width: 20vw;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    padding: 0.5em 1em;
    display: block;
    background-color: #05386b;
    color: #edf5e1;
    font-size: 1.2em;
}

.title-band {
    padding: 1em 1em;
    display: block;
    background-color: #05386b;
    color: #edf5e1;
    font-size: 1.7em;
}

.port-holder:hover .title-band {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
    height: 7px;
    border-radius: 0px;
    background-color: #aaa;
}

::-webkit-scrollbar-button:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background-color: #379683;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #05386b;
}

::-webkit-scrollbar-track {
    background-color: #5cdb95;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.slider-philosophy {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.phil-article-title {
    margin: auto;
    font-size: 3rem;
    color: #edf5e1;
}

.phil-article-hover-text {
    display: none;
    margin: auto;
    font-size: 2rem;
    color: #05386b;
}

.phil-article {
    width: 33%;
    display: block;
    cursor: pointer;
}

.phil-article:hover .phil-article-hover-text {
    display: inline;
}

.phil-article:hover .phil-article-title {
    display: none;
}