/* dark blue:    #05386B */

/* greeny-blue:  #379683 */

/* bright green: #5CDB95 */

/* pale green:   #8EE4AF */

/* taupe:        #EDF5E1 */

/* font-family: 'Gentium Basic', serif;
font-family: 'Eczar', serif; */

body {
    background-color: #5cdb95;
}

.header {
    background-color: #05386B;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.171);
    padding: 1em;
}

.titlecard {
    width: 100%;
    display: grid;
    background-color: #5cdb95;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.titlecard h2 {
    font-size: 3em;
    font-family: 'Eczar', serif;
}

.titlecard h3 {
    font-size: 2em;
    font-family: 'Gentium Basic', serif;
}